{% extends 'base.html.twig' %}

{% block title %}How it Works - Meal Planner{% endblock %}

{% block body %}
<div class="container text-center mt-5">
    <h1>How It Works</h1>
    <p>Browse recipes, create your meal plans, and manage your shopping lists with ease!</p>
</div>
{% endblock %}
