{% extends 'base.html.twig' %}

{% block title %}Hello StaticController!{% endblock %}

{% block body %}

<h1> hallo ich bin der index</h1>
<h1> hallo ich bin der index</h1>

<h1> hallo ich bin der index</h1>

<h1> hallo ich bin der index</h1>
<h1> hallo ich bin der index</h1>
<h1> hallo ich bin der index</h1>
<h1> hallo ich bin der index</h1>
<h1> hallo ich bin der index</h1>
<h1> hallo ich bin der index</h1>
<h1> hallo ich bin der index</h1>
<h1> hallo ich bin der index</h1>


{% endblock %}
